{% load static app_tags %}
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <img src="{% static 'images/favicon-32x32.png' %}" width="32" height="32"
                 class="d-inline-block align-middle" alt="Legal document icon">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
            <h5>Content</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'home' %}">Home {% sr_only 'home' %}</a></li>
                <li>
                    <a class="text-muted"
                       href="{% url 'documents_index' %}">Documents{% sr_only 'documents_index' %}</a>
                    <span class="text-muted">(<a class="text-muted" href="{% url 'documents_create' %}">new</a>)</span>
                </li>
                <li>
                    <a class="text-muted"
                       href="{% url 'revisions_index' %}">Revisions{% sr_only 'revisions_index' %}</a>
                </li>
                <li>
                    <a class="text-muted" href="{% url 'tags_index' %}">Tags{% sr_only 'tags_index' %}</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Documentation</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% app_settings 'LOGOMACHY_WIKI_URL' %}">Wiki</a></li>
                <li>
                    <a class="text-muted" href="{% url 'admin:index' %}">Administration</a>
                    <span class="text-muted">(<a class="text-muted" href="{% url 'django-admindocs-docroot' %}">docs</a>)</span>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><i class="fab fa-github"></i> <a class="text-muted"
                                                     href="{% app_settings 'LOGOMACHY_SOURCE_CODE_URL' %}">Source
                    code</a></li>
                <li><a class="text-muted" href="{% url 'about_privacy' %}">Privacy</a></li>
                <li><a class="text-muted" href="{% url 'about_terms' %}">Terms</a></li>
                <li><a class="text-muted" href="{% url 'about_credits' %}">Credits</a></li>
            </ul>
        </div>
    </div>
</footer>