{% load static app_tags %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-logomachy">
    <div class="container">
        <a class="navbar-brand" href="{% url 'logomachy:home' %}">
            <img src="{% static 'images/favicon-32x32.png' %}" width="32" height="32"
                 class="d-inline-block align-middle" alt="Legal document icon">
            Logomachy
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-logomachy"
                aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-logomachy">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% nav_item_active 'logomachy:documents:index' %} {% nav_item_active 'logomachy:revisions:index' %}">
                    <a class="nav-link" href="{% url 'logomachy:documents:index' %}">Documents {% sr_only 'logomachy:documents:index' %}</a>
                </li>
                <li class="nav-item {% nav_item_active 'logomachy:tags:index' %}">
                    <a class="nav-link" href="{% url 'logomachy:tags:index' %}">Tags {% sr_only 'logomachy:tags:index' %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item  {% nav_item_active 'logomachy:accounts:login' %}">
                    <a class="nav-link" href="{% url 'logomachy:accounts:login' %}">Login {% sr_only 'logomachy:accounts:login' %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>