{% extends 'logomachy/layout/page.html' %}
{% block page_content %}
    <div class="container">

        <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'logomachy:home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Credits</li>
            </ol>
        </nav>

        <h1>Credits</h1>

        <ul>
            <li><a href="https://docs.djangoproject.com/">Django Python Web framework</a>
            <li><a href="http://www.celeryproject.org/">Celery: Distributed Task Queue</a>
            <li><a href="https://www.postgresql.org/">PostgreSQL</a>
            <li>Icons <a href="https://www.flaticon.com/packs/law-and-legal-2">designed by Good Ware from Flaticon</a>
            </li>
        </ul>

    </div>
{% endblock page_content %}
